.panel {
  padding-top: 12px;
  height: 60px;
}

.enter {
  padding-top: 0;
  height: 0;
}

.enterActive {
  padding-top: 12px;
  height: 60px;
  transition: height 0.3s ease, padding 0.2s ease;
}

.leaveActive {
  padding: 0;
  height: 0;
  transition: height 0.3s ease, padding 0.5s;
}
