.navbar-text {
  float: right;
  color: #fefefe;
}

.ant-btn-sm {
  line-height: 1.3;
}

.has-feedback.has-error .ant-input-search-button {
  display: none;
}

.ant-card-head {
  min-height: auto !important;
}

.ant-card-head-title {
  padding: 0 !important;
}